# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#dependencies
/node_modules

#production
/build

#archivos sin importancia
/salida/*.txt

#db json
/db/*.json

#Variables de entorno
.env

#uploads
uploads/